body {
  margin: 0 auto;
  /* max-width: 800px; */
  /* padding: 0 20px; */
  overflow: auto;
}

#container{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 400px;
  width: 290px;
  margin: 180px 0px 0px 700px;
  border: 5px solid #326fa8;
  border-radius: 5px;
  padding: 5px;
  transition: 1s;
}

.guest {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.admin {
  border: 2px solid #00ffea;
  background-color: #0084ff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.message-box::after {
  content: "";
  clear: both;
  display: table;
}

.message-box img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.message-box img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
  font-size: 13px;
}


.time-left {
  float: left;
  color: white;
  font-size: 13px;
}

#friend-list{
    width: 180px;
    position: fixed;
    height: 550px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    float: left;
}

.friends-avatar{
  width: 20px;
  height: 20px
}

.online{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 153, 255);
}

.offline{
  background-color: rgb(0, 153, 255);
  color: white;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom:0px;
  left: 0px;
  border: 3px solid #f1f1f1;
  background-color: rgb(47, 203, 255);
  color:white;
  padding: 5px;
  border-radius: 5px;
  width:200px;
  height: 500px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  width: 40px;
  font-size:10px;
  padding-top: 5px;
  cursor: pointer;
}

#suggestionList{
  position: absolute;
  top: 27px;
  max-height: 300px;
  z-index: 1;
  overflow-y: auto;
  border: 1px solid rgb(202, 202, 202);
  background-color: white;
  border-radius: 5px;
}

.suggestion{
  width: 215px;
  height: 80;
  padding: 10px;
  display: flex;
  background-color: white;
  z-index: 2;
  cursor: pointer;
}

.suggestion:hover{
  opacity: 0.7;
}

.small-avartar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #0398fc;
}

.big-avartar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #3b3b3b;
  margin-right: 15%
}

#profile-dropdown::after { 
  content: none; 
} 

#profile-dropdown-menu{
  background-color: white;
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  padding: 10px;
  width: 190px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  z-index: 1;
}

#profile-notification-dropdown-menu{
  background-color: white;
  display: none;
  position: absolute;
  top: 38px;
  left: -150px;
  padding: 10px;
  width: 190px;
  min-width: 80px;
  height: fit-content;
  min-height: 130px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  z-index: 1;
  overflow-y: auto;
}

.dropdown-items{
  font-size: 16px;
  cursor: pointer;
}

.dropdown-items:hover{
  opacity: 0.7;
}

.responsive {
  width: 100%;
  height: auto;
}
.responsive2 {
  max-width: 100%;
  max-height: 100%;
}

.social-info-btn{
  border-top:1px solid black;
  font-size: 13px;
}

.cursor{
  cursor: pointer;
}

.camera{
  position: absolute;
  top: 24px;
  left: 0px;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  padding: 0px;
  opacity: 0;
  cursor: pointer;
}

.camera:hover{
  opacity: 0.4;
}

.camera label{
  position: absolute;
  top: 30%;
  left: 38%;
  height: 47%;
  font-size: 40px;
  color: rgb(228, 228, 228);
  cursor: pointer;
}

#follow-user-list{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#follow-user-list li{
  width: 100%;
  height: 50px;
  padding: 5px;
}

#friendsSuggestionList li{
  margin: 0px 10px;
  padding: 5px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  width: fit-content
}

#friendsSuggestionList{
  overflow-x: auto;
}

#friendsSuggestion{
  padding: 10px;
  height: fit-content;
  margin-top: 100px;
  background-color: white;
  max-width: 800px;
}

@media only screen and (max-width: 400px) {
  #search-group{
    margin: auto;
  }
}

#search-group{
  position: relative;
  width: 230px;
  height: 27px;
  overflow:visible;
  margin-left: auto
}

#messages-group{
  margin: 80px auto;
  width: 850px;
  height: 540px;
  border-radius: 5px;
  background-color: white;
  /* border: 1px solid grey; */
}

#chat-container-textbox-texts li p{
  max-width: 230px;
  width: fit-content;
  border-radius: 100px;
}

#chat-container-textbox-texts li h6{
  font-size: 15px;
  font-weight: 50;
}