<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
        <title>Document</title>
    </head>
    <body>
        <img src="../static/images/icons/logo.PNG" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    </body>
    <script src="../static/init.js"></script>
    <script src="../static/Services/authentication2.js"></script>
</html>