<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap css CDN -->
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />

        <!-- Bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--Fontawesome css CDN-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        />

        <!-- css -->
        <link rel="stylesheet" href="../static/Stylesheets/style.css" />

        <link rel="stylesheet" type="text/css" href="../static/css/util.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <!--===============================================================================================-->

        <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <title>Document</title>
    </head>
    <body style="margin: 0px; padding: 0px; background-image: url('../static/images/bg-01.jpg');background-size: cover;">
        <div id="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="loginModalLabel">Get Started</h5>
                </div>
                <div class="modal-body">
                  <form class="login100-form ">
                    <h3 style="text-align: center;">
                      Sign In With
                    </h3>
                    <div id="icon-wrapper" style="text-align:center">        
                      <a href="#" class="btn">
                        <img src="../static/images/icons/icon-google.png" alt="GOOGLE">
                      </a>
                    </div>
                  </form>
                  <div class="form-group">
                    <label for="loginEmail">Email address</label>
                    <input type="email" class="form-control" id="loginEmail"placeholder="Enter email">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword"placeholder="Enter password">
                    <button class="btn btn-primary mt-3" id="login-btn" data-dismiss="modal">Login</button>
                  </div>
                  <div class="w-full text-center p-t-55">
                    <span class="txt2">
                      Already a member?
                    </span>
        
                    <button id="sign-up-now">
                      Sign up now
                    </button>
                  </div>
                </div>      
              </div>
            </div>
        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
    <script src="../static/init.js"></script>
    <script src="../static/Services/authentication1.js"></script>
</html>